:root {
    
    --color-background: #08090A;
    --color-background-secondary: #151616;
    --color-text: #F2F2F2;
    --color-text-secondary: #9A9B9C;
    --color-btn-border: #2B2C2D;
    --color-btn-hover-bg: #161718;
    --color-btn-active-bg: #060708;
}
@font-face {
    font-family: 'Inter Variable';
    src: url('./fonts/InterVariable-s.p.494bb210.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'Inter Variable', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    
}
h1 {
    font-weight: 850;
}

p {
    font-weight: 400;
}
header{
    width: 100%;
    height: 65px;
    padding: 16px 24px;
    backdrop-filter: blur(16px);
}