:root {
    
    --color-background: #08090A;
    --color-background-secondary: #151616;
    --color-text: #F2F2F2;
    --color-text-secondary: #9A9B9C;
    --color-btn-border: #2B2C2D;
    --color-btn-hover-bg: #161718;
    --color-btn-active-bg: #060708;
}
@font-face {
    font-family: 'inter';
    src: url(./fonts/InterVariable-s.p.494bb210.ttf)format("truetype");
    font-display: swap
}

@font-face {
    font-family: inter Fallback;
    src: local(Arial);
    ascent-override:89.79%;descent-override:22.36%;line-gap-override:0.0%;size-adjust:107.89%}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    font-family: 'inter', 'inter Fallback', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    
}

header{
    width: 100%;
    height: 65px;
    padding: 16px 24px;
    backdrop-filter: blur(10px);
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.header-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 1055px;
    margin: 0px auto;
}
.logo_and_nav{
    display: flex;
    
    align-items: center;
    gap: 168px;
    width: 752px;
    height: 32px;
}
.logo img{
    width:104px;
    height: 24px;

}
.nav-links{
    display: flex;
    gap: 4.6px;
    justify-content: center;
    align-items: center;
}
.nav-links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
    font-size: 15px;
    font-weight: 500;
    height: 32px;
    padding: 4px 12px;
    text-align: center;
}
.nav-links a:hover{
    background-color: #999a9b18;
    border-radius: 15px;
    padding: 4px 12px;
    text-align: center;
}

.user-actions{
    margin-left: 56px;
    display: flex;
    gap: 10px;
}
.user-actions button{
    display: flex;
    align-items: center;
    background-color: #999a9b18;
    color: var(--color-text);
    box-shadow: none;
    font-size: 15px;
    font-weight: 500;
    border: none;
    height: 33.1px;
    border-radius: 15px;
    padding: 4.500px 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.user-actions .btn-diff{
    display: flex;
    align-items: center;
    background-color: var(--color-text);
    color: var(--color-background);
    box-shadow: none;
    border: none;
    height: 33.1px;
    border-radius: 15px;
    padding: 4.500px 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.user-actions .btn-diff:hover{
    background-color: #CDCFD0;
}

.hero-section{
    position: relative;
    height: 1150.47px;
    isolation: isolate;
    width: 1520.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-image-hero {
    background-image: url(./images/imgi_108_bg-dark.svg);
    z-index: -1;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10rem;
    -webkit-mask-image: linear-gradient(#000 0%,rgba(0,0,0,.99) 18.5%,rgba(0,0,0,.953) 34.3%,rgba(0,0,0,.894) 47.6%,rgba(0,0,0,.824) 58.5%,rgba(0,0,0,.74) 67.5%,rgba(0,0,0,.647) 74.7%,rgba(0,0,0,.55) 80.3%,rgba(0,0,0,.45) 84.7%,rgba(0,0,0,.353) 88%,rgba(0,0,0,.26) 90.5%,rgba(0,0,0,.176) 92.5%,rgba(0,0,0,.106) 94.2%,rgba(0,0,0,.047) 95.9%,rgba(0,0,0,.01) 97.7%,transparent 100%);
    mask-image: linear-gradient(#000 0%,rgba(0,0,0,.99) 18.5%,rgba(0,0,0,.953) 34.3%,rgba(0,0,0,.894) 47.6%,rgba(0,0,0,.824) 58.5%,rgba(0,0,0,.74) 67.5%,rgba(0,0,0,.647) 74.7%,rgba(0,0,0,.55) 80.3%,rgba(0,0,0,.45) 84.7%,rgba(0,0,0,.353) 88%,rgba(0,0,0,.26) 90.5%,rgba(0,0,0,.176) 92.5%,rgba(0,0,0,.106) 94.2%,rgba(0,0,0,.047) 95.9%,rgba(0,0,0,.01) 97.7%,transparent 100%)
}
.new_feat{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color:#999a9b5d ;
    padding: 4px 8px 4px 4px;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
    height:  30px;
    border-radius:  15px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.new_feat:hover{
    background-color: #999a9b18;
    cursor: pointer;
}
.new_feat span{
    background-color: #0C8C5E;
    color: var(--color-background);
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
    padding: 2px 6px;
    border-radius: 10px;
}
.new_feat img{
    width: 16px;
    height: 16px;
    color: var(--color-text);
}

.hero-content {
    position: relative;
    margin-top: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 32px;            
    width: 100%;
    max-width: 800px;    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
    text-align: center;
    z-index: 2;
}

.hero-title {
    width: 100%;        
    font-size: 64px; 
    font-weight: 700;  
    line-height: 1.2;
    font-family: 'inter', 'inter Fallback', sans-serif;
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--color-text);
    font-size: 18px;
}

.hero-form {
    margin-top: 10px;
    background-color: #999a9b67; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 6px 6px 6px 16px;
    border-radius: 100vw;
    border:0.8px solid var(--color-text-secondary);
}
.hero-form input{
    background-color: transparent;
    outline-style: none;
    border: none;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 15px;
    height: 100%;
    font-weight: 700;
    color: var(--color-text);
    width: 250px;
}
.hero-form button{
    display: flex;
    align-items: center;
    background-color: var(--color-text);
    color: var(--color-background);
    box-shadow: none;
    border: none;
    height: 100%;
    border-radius: 100vw;
    padding: 4.500px 12px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.hero-form button:hover{
    background-color: #CDCFD0;
}
.hero-image-container .hero-image{
    border-width:2px ;
    border-top: solid #ffffff0d;
    border-left: solid #ffffff0d;
    border-right: solid #ffffff0d;
    border-radius: 25px;
}
.trusted-by-section{
    width: 100%;
    padding-bottom: 144px;
    padding-inline-end: 32px;
    padding-inline-start: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 72px;
}
.trusted-by-content{
    width: 1024px;
    height: 156px;
    margin: 0 auto;
}
.trusted-by-content img{
    width: 100%;
    height: auto;
}
.feature-highlights-section{
    margin-bottom: 144px;
    margin-left: 248.4px;
    margin-right: 248.4px;
    margin-top: 0px;
    width: 1024px;
}
.feature-highlights-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.feature-highlights-content h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    font-family: 'inter', 'inter Fallback', sans-serif;
}
.feature-highlights-content p{
    color: var(--color-text-secondary);
    font-size: 16px;
    line-height: 20px;
    max-width: 600px;
    text-align: center;
}
.cards{
    display: flex;
    gap: 24px;
    /* justify-content: center; */
    /* align-items: center;  */
    margin-top: 25px;
    padding: 6px;
}
.card-child{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-wrap: balance;
    gap: 20px;
    width: 494px;
    height: 534.8px;
    border: 0.8px solid #191A1B;
    border-radius: 25px;
    padding: 24px;
   
}
.card-child img{
    width: 100%;
    height: 320px;
}
.card-child h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    font-family: 'inter', 'inter Fallback', sans-serif;
}

.card-child .green{
    color: #18E290;
}
.card-child .card-description{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    text-wrap: balance;
    color: var(--color-text-secondary);
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}
.big_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
    padding: 6px;
    border: 0.8px solid #191A1B;
    border-bottom: 0.8px solid #191A1B;
    border-radius: 25px;
    height: 670px;
    width: 1024px;
}
.big_content{
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.big_green{
    color: #18E290;
    font-size: 14px;
    font-weight: 500;
}
.big_heding{
    font-size: 24px;
    font-weight: 500;
    line-height: 31.2px;
    font-family: 'inter', 'inter Fallback', sans-serif;
    text-align: center;
}
.big_card_description{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    text-wrap: balance;
    color: var(--color-text-secondary);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 600px;
}
.big_image img{
    width: 100%;
    height: 420px;
    border-radius: 25px;
}
.assistant-preview-section{
    padding: 96px 0;
    background-color: var(--color-background-secondary);
    width: 100%;
    height: 1325px;

}
.assistant-preview-content{
    margin-left: 248.400px;
    margin-right: 248.400px;
    width: 1024px;
    height:1106px;
    display: flex;
    flex-direction: column;
    gap:24px;
}
.assistant-content{
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: flex-start;
}
.enterprise-reinvention{
    color: #18E290;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}
.assistant-content h3{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}
.assistant-content-child{
    display: flex;
    flex-direction: row;
    gap: 166px;
    align-items: center;
}
.assistant-content-child p{
    color: var(--color-text-secondary);
    font-size: 16px;
    line-height: 20px;
    max-width: 640px;
}
.assistant-content-child button{
    display: flex;
    align-items: center;
    background-color: var(--color-text);
    color: var(--color-background);
    box-shadow: none;
    border: none;
    height: 33.1px;
    border-radius: 15px;
    padding: 7px 24px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.assistant-content-child button:hover{
    background-color: #CDCFD0;
}
.assistant-card{
    margin-top: 24px;
    margin-bottom: 24px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.ass-card-child{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.ass-card-child img{
    width: 35px;
    height: 35px;
    font-weight: 600;
}
.ass-card-child h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}
.ass-card-child p{
    color: var(--color-text-secondary);
    font-size: 16px;
    line-height: 24px;
}
.assistant-image{
    width: 1024px;
    height: 622px;
    margin-top: -24px;
}
.assistant-image .intel_img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.assistant-image .intel_img:hover{
    opacity: 0.6;
    cursor: pointer;
}
.intel_logo{
    width: 100%;
    margin-top: 25px;
}
.case-studies-section{
    padding: 72px 0;
    width: 100%;

}
.case_contant{
    margin: 0 248.40px;
    padding: 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.case-green{
    color: #18E290;
    font-size: 14px;
    font-weight: 500;
}
.case_contant h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}
.case_contant p{
    color: var(--color-text-secondary);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.carosole_cont{
    padding: 0 273.737px;
}
.carosel_item{
    display: flex;
    gap: 20px;
    transform: translate3d(0px,0px,0px);
}
.image_caro img{
    width: 393px;
    height: 290px;
    border-radius: 25px;
}
.image_caro img:hover{
    opacity: 0.6;
    cursor: pointer;
    
}
.carosel_content{
    display: flex; 
    flex-direction: column;
    gap: 24px;
    width: 393px;
    cursor: pointer;
    overflow: hidden;
}
.carousel-control:hover{
    opacity: 0.6;
}

